
/* Your CSS Code here. */
.holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 10px; /* Space between grid items */
}

.item {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
	
}
